<footer class="footer">
    <div class="container">
      <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto">
              <div class="footer-widget">
                      <h4 class="mb-4">BHAISAJYA GROUP</h4>
                      <p class="lead">Office no 4078,Malad West, Mumbai-400102, Maharashtra, India</p>
                    
                    <div class="">
                        <p class="mb-0"><strong>Location : </strong>Mumbai, Maharashtra, INDIA</p>
                        <p><strong>Email :</strong> hr@bhaisajyagroup.com</p>
                    </div>
                    <div style="margin-top: 8%;">
                    <h4 class="mb-4">Opening Hours</h4>
                <ul class="pl-0 list-unstyled mb-5">
                  <li class="d-lg-flex justify-content-between">Monday-Friday <span>10.00-18.00&nbsp;&nbsp;</span></li>
                  <li class="d-lg-flex justify-content-between">Saturday <span>10.00-03.00</span></li>
                  <li class="d-lg-flex justify-content-between">Sunday <span>Holiday</span></li>
                </ul>
  
                <h5>Call Now : +91-7400106777,+91-7304114116</h5>
              </div>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
                <div class="footer-widget">
                <h4 class="mb-4">Category</h4>
                <ul class="pl-0 list-unstyled mb-0">
                  <li><a href="#">Telecommunication Products</a></li>
                  <li><a href="#">Textile and Fabric Products</a></li>
                  <li><a href="#">Fertilizer</a></li>
                  <li><a href="#">Machinery</a></li>
                  <li><a href="#">Industrial Suppliers</a></li>
                  <li><a href="#">Hotel suppliers and Equipment's</a></li> 
                  <li><a href="#">Energy and Power</a></li> 
                  <li><a href="#">Electronic and Electrical Suppliers</a></li> 
                  <li><a href="#">Consumer Electronics</a></li> 
                  <li><a href="#">Construction and Real State</a></li> 
                  <li><a href="#">Computer Hardware and Software</a></li>
                  

                </ul>
            </div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
              <div class="footer-widget">
            <h4 class="mb-4">&nbsp;</h4> 
             <ul class="pl-0 list-unstyled mb-0">
               
              <li><a href="#">Agriculture Products</a></li>   
              <li><a href="#">Auto Mobile Products</a></li>  
              <li><a href="#">Plastic Products</a></li>  
              <li><a href="#">Electric Power Tools</a></li>  
              <li><a href="#">Gift and Crafts & Packaging and papers</a></li>                  
              <li><a href="#">Veg and Fruits</a></li>  
              <li><a href="#">Home Textiles and Furnishings</a></li>  
              <li><a href="#">Home Appliances Hand and Allied Tools</a></li>  
              <li><a href="#">Fire and Safety Products</a></li> 
              <li><a href="#">Kitchen Appliances</a></li>  
              <li><a href="#">Cloth and fabric</a></li>  
             </ul>
                 </div>
         </div>
  
            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
                 <div class="footer-widget">
               <h4 class="mb-4">&nbsp;</h4> 
                <ul class="pl-0 list-unstyled mb-0">
                   
                  <li><a href="#">Chemicals</a></li>
                  <li><a href="#">Hospitals Equpment and Surgical Equipment</a></li>  
                  <li><a href="#">Rice</a></li>
                  <li><a href="#">Minerals and Metals</a></li>
                  <li><a href="#">Office and School Supply</a></li>
                  <li><a href="#">Pipes Tubes and Fittings</a></li>
                  <li><a href="#">Printing Machines</a></li>
                  <li><a href="#">Scientific and laboratory Instruments</a></li>
                  <li><a href="#">Sports and Entertainment</a></li>
                  <li><a href="#">Sugar</a></li>
                  <li><a href="#">Corn</a></li>
                </ul>
                    </div>
            </div>
  
            
         </div>
    </div>
  </footer>
  
  
  <div class="footer-btm py-4 ">
    <div class="container">
      <div class="row ">
             <div class="col-lg-6">
                 <p class="copyright mb-0 ">@ Copyright Reserved to <b>Bhaisajya-Group</b> &amp; made by <a href="http://www.8849m.com/2022/12/kamal-pandey.html">Kamal Pandey</a></p>
             </div>
             <div class="col-lg-6">
                  <ul class="list-inline mb-0 footer-btm-links text-lg-right mt-2 mt-lg-0">
                  <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                  <li class="list-inline-item"><a href="#">Terms &amp; Conditions</a></li>
                  <li class="list-inline-item"><a href="#">Cookie Policy</a></li>
                  <li class="list-inline-item"><a href="#">Terms of Sale</a></li>
                </ul>
             </div>
         </div>
    </div>
  </div>