<ngx-slick-carousel class="main-slider slider"   [config]="slideConfig" >
    <div ngxSlickItem class="slider-item " style="background-image:url('assets/images/slideshow1-2.JPG')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <!-- <span class="lead">Winter Collection Sale </span>
              <h1 class="mt-2 mb-5"><span class="text-color">70% off </span>to everything</h1>
              <a href="#" class="btn btn-main">Shop Now</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div ngxSlickItem  class="slider-item" style="background-image:url('assets/images/slideshow1-3.JPG')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <!-- <span class="lead">up to 70% off</span>
              <h1 class="mt-2 mb-5"><span class="text-color">Classic</span> Style</h1>
              <a href="#" class="btn btn-main">Shop Now</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div ngxSlickItem  class="slider-item" style="background-image:url('assets/images/slideshow1-2.JPG'); background-position:50%;background-repeat:no-repeat;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <!-- <span class="lead">Trendy dress</span>
              <h1 class="mt-2 mb-5"><span class="text-color">Winter </span>Collection</h1>
              <a href="#" class="btn btn-main">Shop Now</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
  <section class="category section pt-3 pb-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="title text-center" style="margin-bottom: 0px !important;">
                <h2>About US</h2>
                <p>BHAISAJYA Group is a Prominent and Leading Merchant 
                  Manufacturer Supplier and Exporter of Authentic Indian Basmati 
                  Rice, Non-Basmati Rice, Pesticides Free Rice, Brown Basmati Rice and 
                  many more Agro products.
                  <BR>
                  BHAISAJYA Group is formed with the objective of supplying best quality 
                  of Rice having a Delightful Taste, Heavenly Aroma, and Flavors 
                  with high nutrition values across the Globe.
                  We would love to spread purity of every rice grain among the business
                  community whoever deals with us.</p>
            </div>
        </div>
    </div>