<section class="page-headerag">
    <div class="overly"></div> 	
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Agriculture</h1>
            
          
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="single-product">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="single-product-slider">
            <div class="carousel slide" data-ride="carousel" id="single-product-slider">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/images/Cashew.JPG" alt="" class="img-fluid">
                  <h3>Cashew Nuts</h3>
                 <!--
                    Item dry 
                    <br> quantity 4000 tons 
                    <br> pakget
                    <br> quantity
                 -->
                 </div> 
                 
                <div class="carousel-item">
                  <img src="assets/images/Long-Rice-w250.jpg" alt="" class="img-fluid">
                 <h3> Long Rice</h3>
                 </div>
                <div class="carousel-item ">
                  <img src="assets/images/Rasins.JPG" alt="" class="img-fluid">
                  <h3>Black Raisin</h3>
                  </div>
                <div class="carousel-item ">
                  <img src="assets/images/SteamRice.JPG" alt="" class="img-fluid">
                  <h3>Steam Rice</h3>
                  
                </div>
                <div class="carousel-item ">
                  <img src="assets/images/WhiteSella.jpg" alt="" class="img-fluid">
                  <h3>White Sella Rice</h3>
                  </div>
                <div class="carousel-item ">
                  <img src="assets/images/KatarniRice.jpg" alt="" class="img-fluid">
                  <h3>Katarni Steam Rice</h3>
                  </div>
              </div>
  
              <ol class="carousel-indicators">
                  <li data-target="#single-product-slider" data-slide-to="0" class="active">
                      <img src="assets/images/Cashew.JPG" alt="" class="img-fluid">
                  </li>
                  <li data-target="#single-product-slider" data-slide-to="1">
                      <img src="assets/images/Long-Rice-w250.jpg" alt="" class="img-fluid">
                  </li>
                  <li data-target="#single-product-slider" data-slide-to="2">
                      <img src="assets/images/Rasins.JPG" alt="" class="img-fluid">
                  </li>
                  <li data-target="#single-product-slider" data-slide-to="3">
                    <img src="assets/images/SteamRice.JPG" alt="" class="img-fluid">
                </li>
                <li data-target="#single-product-slider" data-slide-to="4">
                  <img src="assets/images/WhiteSella.jpg" alt="" class="img-fluid">
              </li>
              <li data-target="#single-product-slider" data-slide-to="5">
                <img src="assets/images/KatarniRice.jpg" alt="" class="img-fluid">
            </li>
              </ol>
            </div>
          </div>
        </div>
        
        <div class="col-md-7">
          <div class="single-product-details mt-5 mt-lg-0">
            <h2>Agriculture Sector Products</h2>
             
            <hr>
            
                        
            <p class="product-description my-4 ">
                 Bhaisajya group is into multiple domins related to importexport and service providing Agriculture products.
            </p>
  
            
  
            
  
            
  
            <div class="products-meta mt-4">
              <div class="product-category d-flex align-items-center">
                <span class="font-weight-bold text-capitalize product-meta-title">Categories :</span>
                <a >Black Raisin , </a>
                <a >Golden Raisin,</a>
                <a >Wheat,</a>
                <a >Rice,</a>
                <a >and many more</a>
              </div>
  
              <div class="product-share mt-5">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                        <a href="#" class="fa fa-facebook"></a>&nbsp;
                        <a href="#" class="fa fa-linkedin"></a>&nbsp;
                        <a href="#" class="fa fa-whatsapp"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      
      <div class="row">
        <div class="col-lg-12">
          <nav class="product-info-tabs wc-tabs mt-5 mb-5">
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Additional Information</a>
             </div>
          </nav>
  
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <p>BHAISAJYA Group is a Prominent and Leading Merchant 
              Manufacturer Supplier and Exporter of Authentic Indian Basmati 
              Rice, Non-Basmati Rice, Pesticides Free Rice, Brown Basmati Rice and 
              many more Agro products.
              BHAISAJYA is formed with the objective of supplying best quality 
              of Rice having a Delightful Taste, Heavenly Aroma, and Flavors 
              with high nutrition values across the Globe.
              We would love to spread purity of every rice grain among the business
              community whoever deals with us.</p>
  <!--
            <h4>Product Features</h4>
  
            <ul class="">
              <li>Mapped with 3M™ Thinsulate™ Insulation [40G Body / Sleeves / Hood]</li>
              <li>Embossed Taffeta Lining</li>
              <li>DRYRIDE Durashell™ 2-Layer Oxford Fabric [10,000MM, 5,000G]</li>
            </ul>
          -->
            </div>
            <!--
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            
            <ul class="list-unstyled info-desc">
              <li class="d-flex">
                <strong>Weight </strong>	
                <span>400 g</span>
              </li>
              <li class="d-flex">
                <strong>Dimensions </strong>
                <span>10 x 10 x 15 cm</span>
              </li>
              <li class="d-flex">
                <strong>Materials</strong>
                <span >60% cotton, 40% polyester</span>
              </li>
              <li class="d-flex">
                <strong>Color </strong>
                <span>Blue, Gray, Green, Red, Yellow</span>
              </li>
              <li class="d-flex">
                <strong>Size</strong>
                <span>L, M, S, XL, XXL</span>
              </li>
            </ul>
          
            </div>

            -->
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="row">
              <div class="col-lg-7">
                <div class="media review-block mb-4">
                  <img src="assets/images/avater-1.jpg" alt="reviewimg" class="img-fluid mr-4">
                  <div class="media-body">
                    <div class="product-review">
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                    </div>
                    <h6>Therichpost <span class="text-sm text-muted font-weight-normal ml-3">-June 23, 2019</span></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum suscipit consequuntur in, perspiciatis laudantium ipsa fugit. Iure esse saepe error dolore quod.</p>
                  </div>	
                </div>
  
                <div class="media review-block">
                  <img src="assets/images/avater-2.jpg" alt="reviewimg" class="img-fluid mr-4">
                  <div class="media-body">
                    <div class="product-review">
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star-outline"></i></span>
                    </div>
                    <h6>Therichpost <span class="text-sm text-muted font-weight-normal ml-3">-June 23, 2019</span></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum suscipit consequuntur in, perspiciatis laudantium ipsa fugit. Iure esse saepe error dolore quod.</p>
                  </div>	
                  
                </div>
              
              </div>
  
  
              <div class="col-lg-5">
                <div class="review-comment mt-5 mt-lg-0">
                  <h4 class="mb-3">Add a Review</h4>
  
                  <form action="#">
                    <div class="starrr"></div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                      <textarea name="comment" id="comment" class="form-control" cols="30" rows="4" placeholder="Your Review"></textarea>
                    </div>
  
                    <a routerLink="/product-single" class="btn btn-main btn-small">Submit Review</a>
                  </form>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
