<ngx-slick-carousel class="main-slider slider"   [config]="slideConfig" >
    <div ngxSlickItem class="slider-item " style="background-image:url('assets/images/slideshow1-2.JPG')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <!-- <span class="lead">Winter Collection Sale </span>
              <h1 class="mt-2 mb-5"><span class="text-color">70% off </span>to everything</h1>
              <a href="#" class="btn btn-main">Shop Now</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div ngxSlickItem  class="slider-item" style="background-image:url('assets/images/slideshow1-3.JPG')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <!-- <span class="lead">up to 70% off</span>
              <h1 class="mt-2 mb-5"><span class="text-color">Classic</span> Style</h1>
              <a href="#" class="btn btn-main">Shop Now</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div ngxSlickItem  class="slider-item" style="background-image:url('assets/images/slideshow1-2.JPG'); background-position:50%;background-repeat:no-repeat;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <!-- <span class="lead">Trendy dress</span>
              <h1 class="mt-2 mb-5"><span class="text-color">Winter </span>Collection</h1>
              <a href="#" class="btn btn-main">Shop Now</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
  <section class="category section pt-3 pb-0">
    <div class="container">
      <div class="containercontact">
        <div style="text-align:center">
          <h2>CONTACT US</h2>
          <p>If you have any questions or queries we are here to help you.
            Feel free to contact us by phone or email and we will be sure to get back to you as soon as possible.</p>
        </div>
        <div class="row">
          <div class="column">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15073.929285379652!2d72.8419569!3d19.1741248!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x14f4d5b5ab4f2328!2sBHAISAJYA%20GROUP!5e0!3m2!1sen!2sin!4v1670253216098!5m2!1sen!2sin" width="530" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="column1">
                               <h4 class="mb-4">BHAISAJYA GROUP</h4>
                      <p class="lead">Office no 4078,Malad West,  <br>Mumbai-400102,Maharashtra,<br> India</p>
                    
                    <div class="">
                        <p class="mb-0"><strong>Location : </strong>Mumbai, Maharashtra, INDIA</p>
                        <p><strong>Support Email : </strong> support@email.com</p>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                        <a href="#" class="fa fa-facebook"></a>&nbsp;
                        <a href="#" class="fa fa-linkedin"></a>&nbsp;
                        <a href="#" class="fa fa-whatsapp"></a>

          </div>
        </div>
      </div>
    </div>
   