<ngx-slick-carousel class="main-slider slider"   [config]="slideConfig" >
    <div ngxSlickItem class="slider-item " style="background-image:url('assets/images/slideshow1-2.JPG')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <!-- <span class="lead">Winter Collection Sale </span>
              <h1 class="mt-2 mb-5"><span class="text-color">70% off </span>to everything</h1>
              <a href="#" class="btn btn-main">Shop Now</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div ngxSlickItem  class="slider-item" style="background-image:url('assets/images/slideshow1-3.JPG')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <!-- <span class="lead">up to 70% off</span>
              <h1 class="mt-2 mb-5"><span class="text-color">Classic</span> Style</h1>
              <a href="#" class="btn btn-main">Shop Now</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </ngx-slick-carousel>
  <section class="category section pt-3 pb-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="title text-center" style="margin-bottom: 0px !important;">
                <h2>OUR TEAM</h2>
                                          
                <br>
                <p>Everyone says it, but in our case it’s true: our team is the secret to our success. Each of our employees is amazing in their own right, but together they are what makes bhaisajya group such a fun and rewarding place to work.  The Bhaisajya group team is a tight-knit, talented group with a shared vision of delivering consistently great results for our clients, as well as ensuring the agency is a fun, inclusive, challenging place to work.</p>
                <h5>Our Management Team</h5>  

            <!--- meet the team design   -->

            <div class="row">
              <div class="column">
                <div class="card">
                  <img src="assets/images/G.joshi.jpeg" alt="Jane" style="width:100%">
                  <div class="container">
                    <h3>G.Joshi</h3>
                    <p class="title">Founder &amp; Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Contact</button></p>
                  </div>
                </div>
              </div>
            
              <div class="column">
                <div class="card">
                  <img src="assets/images/S.P singh.jfif" alt="Mike" style="width:100%">
                  <div class="container">
                    <h3>S.P Singh</h3>
                    <p class="title">Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Contact</button></p>
                  </div>
                </div>
              </div>
            
              <div class="column">
                <div class="card">
                  <img src="assets/images/Deepak Raj.jpg" alt="John" style="width:100%">
                  <div class="container">
                    <h3>Deepak Raj</h3>
                    <p class="title">Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Contact</button></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <img src="assets/images/CA laxman.JPG" alt="John" style="width:100%">
                <div class="container">
                  <h3>C.A Laxman Pandey</h3>
                  <p class="title">GROUP CFO</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>calaxmanpandey@gmail.com</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
          </div>

<!--- meet the team design   -->


              </div>
        </div>
    </div>